<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/static/styless.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body class="asd">
        <div class="container" style="background-color: white">
             <div class="container" style="background-color: aliceblue">
                 <h1 class="display-4" style="text-align: center">Text Summarization</h1>
                 <p class="lead">Retrieve an extractive summary for your text.</p>
            </div>
            <div class="container srt">
                <div class="container col-sm-6" style="background-color: antiquewhite">
                    <p class="original_title col-sm-6" style="text-align: center">Original Text</p>
                    <p class="originalTxt ">{{original_text}}</p>
                    <button class="btn btn-primary" type="submit" value="Submit">Original text wordcount:{{len_of_txt}}</button>
                </div>
                <div class="container col-sm-6" style="background-color: aquamarine">
                    <p class="summary_title col-sm-6" style="text-align: center">Summary</p>
                    <p class="summaryTxt"  id="summary-result">{{summary}}</p>
                    <button class="btn btn-primary" type="submit" value="Submit">Summary wordcount: {{len_of_smry}}</button>
                    <br><br>
                    <button class="btn btn-primary" id="download-button">Download pdf</button>

                </div>
            </div>
        </div>


        <script>
        var button = document.getElementById("download-button");
      var makepdf = document.getElementById("summary-result");
      button.addEventListener("click", function () {
         var mywindow = window.open("", "PRINT", "height=600,width=600");
         mywindow.document.write(makepdf.innerHTML);
         mywindow.document.close();
         mywindow.focus();
         mywindow.print();
         return true;
      });
        </script>

    </body>
</html>